.app-header {
    height: 80px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid #e4e5e7;
    transition: background-color .5s ease;
    transition: border .5s ease; 

    li{
        margin: auto;
    }

    &.beAbs{
        position: absolute;
        background-color: transparent;
    }
    
    &.transparent{
        border-bottom: none;
        transition: background-color .5s ease;

        *{
            color: #fff;
        }

        .search-container{
            visibility: hidden;
        }
    }

    &.search-visible .under-header{
        transform: rotateX(0deg);
        background-color: #fff;
    }

    &.color {
        position: sticky;
        top: 0;
        background-color: white;
        .header-container{
            background-color: #fff;
        }
        
        .search-container{
            visibility: visible;
        }
    }

    .logo img{
        width: 60px;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .under-header{
        position: absolute;
        top: 80px;
        width: 100%;

        transform: rotateX(90deg);
        transition: transform .5s ease;
        

        ul{
            width: 100%;
            gap: 10px;

            li:nth-child(1) {
                margin-inline-start: 0;
            }

            li:nth-last-child(1) {
                margin-inline-end: 0;
            }
            
        }
    }

}