.gig-filter {
    display: flex;
    gap: 12px;

    .clear-filter {
        border: 0.8px solid rgba(138, 138, 138, 0.233);
        border-radius: 10px;
        padding: em(10px);
        font-weight: bold;
        font-size: 1rem;
        text-align: center;


        &:hover {
            cursor: pointer;
            border: 0.8px solid #222325;
        }

    }

}