.order-details {
    position: sticky;
    top: 150px;
    border: 1px solid $clr-light-grey;
    height: fit-content;
    width: 415px;
    display: flex;
    flex-flow: column;


    .btns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        button {
            margin: 0;
            background-color: #fafafa;
            color: $clr-black;
            border: 1px solid $clr-light-grey;
            font-size: 0.9em;
            padding: 15px;

            &.active{
                background-color: #ffffff;
                border-bottom:3.5px solid #222325 ;
            }

            :active {
                border-bottom: 1px solid $clr-black;
            }
        }
    }

    .main-details {
        padding-inline: 25px;
        padding-top: 30px;
        display: flex;
        flex-flow: column;

        .price {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 1.1em;
                // font-weight: bold;
            }

            .price-num {
                font-size: 1.1em;
            }
        }

        .desc {
            margin-top: 30px;
            font-size: 0.9em;
            line-height: 1.2em;
        }

        .delivery-details {
            padding-top: 10px;
            display: flex;
            font-size: 0.9em;
            align-items: center;
            margin-bottom: 5px;




            .clock {
                margin-right: 5px;

                svg {
                    padding: 0;
                    margin: 0;
                }

            }

        }

        .whats-included {
            font-size: 0.9em;

            ul {
                li {
                    font-family: 'Macan', sans-serif;

                    .include::after {
                        content: "\f00c";
                        color: black;
                    }

                    .not-include::after {
                        content: "\f00c";
                        color: $clr-light-grey;
                    }
                }

            }
        }

        .continue-btn {
            background-color: $clr-black;
            color: $clr-wight;
            margin-top: 15px;

            font-size: 0.9em;

            display: grid;
            grid-template-columns: 1fr auto;
            padding: 8px;
            padding-inline: 25px;
            border-radius: 5px;


            .continue {
                justify-self: center;
                color: rgb(235, 235, 235);
            }

            .arrow::after {
                content: "\f061";
            }

        }

        .Compare-btn {
            text-align: center;
            font-size: 0.8em;
            padding: 10px;
            margin-bottom: 10px;
        }
    }
}