.gig-preview {
    display: flex;
    flex-flow: column;

    .main-img {

        .carousel-height {
            border-radius: 10px;
        }

        .arrow-left,
        .arrow-right {
            opacity: 0;
            transform: translateY(-25px);
            transition: opacity 0.3s ease-in, translate 0.3s ease-in;
        }

        &:hover~.gig-details {
            text-decoration: underline;
        }

        &:hover .arrow-left {
            translate: 55px;
        }

        &:hover .arrow-right {
            translate: -55px;
        }

        &:hover .arrow-left:not(:disabled),
        &:hover .arrow-right:not(:disabled) {
            opacity: 1;
        }

        img {
            // width: cover;
            height: 100%;
            border-radius: 10px;
            aspect-ratio: 1 / .6;
            object-fit: cover;
        }
    }



    .gig-owner-mini {
        padding-top: 1.1em;
        display: flex;
        justify-content: space-between;
        // margin-top: -0.3em;
        align-items: center;

        font-size: 0.7em;

        * {
            display: inline;
        }

        .gig-user {
            display: flex;
            gap: 7px;
            font-size: 1.1em;

            // img {
            //     max-width: 25px;
            // }

            p {
                span {
                    font-weight: bold;
                }
            }
        }

        .level {
            display: flex;


            .level-and-num {
                font-weight: bold;
                padding-right: 0.5em;
            }

            .stars {
                padding-right: 0.2em;
                display: flex;
                gap: 0.1em;


                i {
                    // display: flex;


                    svg {
                        // align-self: center;
                    }
                }
            }



        }
    }



    .gig-details {
        font-size: 0.9em;
        margin-top: 0.7em;
        height: 3.25em;
        line-height: 1.35em;


        &:hover {
            text-decoration: underline;
        }

        &:hover~.main-img> :has(.arrow-left) {
            translate: 55px;
        }

        &:hover~.main-img> :has(.arrow-right) {
            translate: -55px;
        }

        &:hover~.main-img> :has(.arrow-left:not(:disabled)),
        &:hover~.main-img> :has(.arrow-right:not(:disabled)) {
            opacity: 1;
        }

    }

    .gig-user-rate {
        font-size: 0.85em;
        display: flex;
        align-items: center;
        font-weight: bold;
        margin-top: -0.1em;
        gap: 0.2em;

        .rate {
            span {
                font-weight: 100;
                color: $clrbtn-hover;
            }
        }

        .star {
            margin-top: -0.2em;
            svg {
                scale: 0.85;
            }
        }
    }

    .gig-price {
        margin-top: 5px;
        font-size: 0.9em;
        font-weight: bold;

        // &:hover ~ .gig-details{
        //     text-decoration: underline;
        // }
    }
}