table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead {
        tr {
            background-color: $clr-light--grey;
            color: $clr-black;
            text-align: left;
            font-weight: bold;

            th {
                padding: 12px 15px;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #dddddd;

            .buyer {
                display: flex;
                align-items: center;
                flex-flow: column;
                gap: 10px;


            }

            .task {
                font-size: 0.8em;

                p {
                    max-width: 6em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            td {
                width: 50vw;
                padding: 12px 15px;

                img {
                    width: 50%;
                }
            }
        }

        tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        tr:last-of-type {
            // border-bottom: 2px solid #009879;
        }

        .received-order-action-container {
            position: relative;
            // width: fit-content;

            &.accepted {
                button {
                    background-color: $clrbg1;

                }
            }

            &.rejected {
                button {
                    color: $clr-light--grey;
                    background-color: $clralert;

                }
            }

            button {
                background-color: #e2ee75;
                border-radius: 10px;
            }

        }

        .received-order-action-modal {
            padding: 0;
            position: absolute;
            display: flex;
            // z-index: 10;
            // top: 50%;
            top: 14.5%;
            left: 60%;
            width: fit-content;
            background-color: $clr6;
            border: 0.8px solid rgba(58, 58, 58, 0.514);
            border-radius: 15px;

            button {
                &:hover {
                    background-color: $clr-light--grey;

                    &.received-order-accept {
                        color: $clr-light--grey;
                        background-color: $clrbg1;
                        border-radius: 10px;

                    }

                    &.received-order-reject {
                        color: $clr-light--grey;
                        background-color: $clralert;
                        border-radius: 10px;

                    }
                }
            }
        }

    }





}