.my-orders {
    width: 100%;

    .no-orders {
        width: 100%;
    }

    .orders-list {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 0.5em;
        
        .approved {
            color: $clrbg1;
        }
        
        .rejected {
            color: $clralert;
        }
        
        li {
            width: 100%;
            height: 5em;
            font-size: 0.6em;
            display: flex;
            align-items: center;
            gap: 1em;
            padding-right: 5px;

            img {
                width: 10em;
                height: 5em;
                object-fit: cover;
            }

            &.pending{
                background-color: $clr-light--grey;
            }
            
            &.accepted{
                .order-status{
                    font-weight: bolder;
                }
                background-color: #afff8f70;
            }
            
            &.rejected{
                background-color: $clralert;
            }
        }
    }
}
