.fiverr-nav {
    ul {
        .sign-in-nav {
            &:hover {
                cursor: pointer;
            }
        }

        .user-img-navbar {
            position: relative;

            .user-menu-options {
                position: absolute;
                right: 0;
                z-index: 2;
                
                padding: 5px 10px;
                margin-top: 3px;

                background-color: rgb(238, 238, 238);

                .link-profile {
                    color: black;

                    &:hover {
                        color: $clrbg1;
                    }
                }
            }
        }
    }

    .notification-bell {
        position: absolute;
        top: 0;
        right: -.3em;
        // --animate-repeat: 2;
        
        animation-duration: 2s;
        // border-radius: 50%;
        // height: .5em;
        // width: .5em;
        // background-color: $clralert;

        &::after{
            content: "\f0f3";
            position: absolute;
            top: -0.3em;
            right: 0.2em;
            // animation-duration: 2000ms;
            // color: aqua;
        }
    }

    // .explore{
    //     .chevron-down{
            
    //     }
    // }

    // .join-btn{
    //     padding: 7px 20px;
    //     font-weight: 700;
    //     font-size: .875rem;
    //     background-color: inherit;
    //     transition: all .2s ease;
    //     border-radius: 4px;
    //     margin-inline-start: 10px;
    //     border: 1px solid #fff;
    //     color: #fff;
    // }
}