.user-details-seller-container {
    margin-top: 4.5em;
    

 
    .profile-main-container {
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        grid-template-rows: auto 1fr;

   
        
        .user-container {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-left: -0.4em;
            
            .user-details-seller {
                width: 79%;
                display: flex;
                flex-flow: column;
                align-items: center;
                border: 1px solid $clrbtn---hover;
                padding-block: 1.5em;
                
                
                
                .user-name {
                    font-weight: bold;
                    font-size: 1.2em;
                    text-transform: capitalize;
                    
                }
                
                .line {
                    width: 90%;
                    margin-block: 0.3em;
                    background-color: $clrbtn---hover;
                }
                
                .details {
                    width: 89%;
                    display: flex;
                    flex-flow: column;
                    
                    .from,
                    .member-since {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        span {
                            color: red;
                            color: $clrbtn-hover;
                        }
                        
                        div {
                            display: flex;
                            align-items: center;
                            gap: 1em;
                        }
                    }
                    
                }
            }
        }
        
        .gigs {
            .owned-gigs-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                gap: minmax(5px 10px);
                gap: 1em;
                
                li {
                    border: 1px solid $clr-light-grey;
                    display: flex;
                    flex-flow: column;

                    img {
                        object-fit: cover;
                        max-height: 170px;
                    }

                    div {
                        padding: 1em;
                        font-size: 0.8em;
                        line-height: 1.1em;
                        display: flex;
                        flex-flow: column;
                        gap: 10px;

                        .price {
                            align-self: flex-end;
                        }
                    }
                }

                .add-new-gig-container {
                    height: 100%;

                    p {
                        align-self: center;
                        margin-top: 1em;
                    }
                }

                .add-new-gig-container::before {

                    content: '+';
                    background-color: #222325;
                    color: #fff;
                    font-size: 48px;
                    font-weight: 400;
                    width: 66px;
                    height: 66px;
                    border-radius: 50%;
                    display: block;
                    padding-inline: 18px;
                    padding-right: 5px;
                    margin: 80px auto 20px;
                    line-height: 69px;
                }

            }
        }
    }
}