.main-details-container {
    margin-inline: 45px;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 3em;


    .gig-details {
        display: flex;
        flex-flow: column;


        .gig-title {
            margin-top: 1.2em;
            font-size: 1.5em;
            font-weight: bolder;

        }

        .line {
            height: 1px;
            background-color: $clr-light-grey;
            width: 86%;
            margin-bottom: .6em; ////////
        }

        .gig-user {
            display: flex;
            flex-flow: row;
            // gap: 15px;
            font-weight: bold;
            font-size: 0.95em;
            // border-bottom: 1px solid $clr-light-grey;
            // margin-bottom: 15px;
            margin-bottom: 0.5em;
            margin-top: 0.9em;
            width: 59%;


            // img {
            //     align-self: center;
            //     width: 14%;
            //     margin-top: -0.5em;
            // }



            .user-details {
                display: flex;
                flex-flow: column;
                align-content: space-between;

                p {
                    font-size: 1em;
                    //  border-right: 1px solid black;
                    padding-inline: 0.9em;
                    // margin-bottom: 0.5em;
                }
                .flex-center{
                    .stars{
                        display: flex;
                    }
                }

                .user-rate {
                    display: flex;

                    font-size: 0.8em;

                    margin-bottom: 15px;
                    padding-left: 0.7em;


                    .star {
                        padding-left: 5px;
                        padding-right: 0.5em;
                    }

                    .rate-num {
                        font-size: 1em;

                        span {
                            color: $clrbtn-hover;
                        }
                    }

                }

                .star::after {
                    content: "\f005";
                }
            }
        }

        .main-img {
            width: 86%;
            height: 53%;

            .carousel-height{
                height: 23.725em;
                border-radius: 0;
                
                img{
                    transition: scale 0.35s ease-in;
                    &:hover{
                        scale: 1.04;
                    }

                }
            }


            .arrow-left,
            .arrow-right {
                // opacity: 0;
                height: 3.2em;
                width: 3.2em;

                box-shadow:  0 2px 5px 0 rgba(0,0,0,.15);

                transition: opacity 0.3s ease-in, translate 0.3s ease-in;
            }

            .arrow-left {
                translate: 24px;
            }

            .arrow-right {
                translate: -24px;
            }

            // &:hover .arrow-left:not(:disabled),
            // &:hover .arrow-right:not(:disabled) {
            //     opacity: 1;
            // }

        }

        .about-this-gig {
            width: 88%;
            margin-top: 5em;
            // font-size: ;

            p {
                font-weight: bolder;
                padding-bottom: 25px;
            }

            .txt {
                display: flex;
                flex-flow: column;

                span {
                    margin-block: 0.8em;
                }
            }

            pre {
                width: 100%;
                font-size: 1em;
            }
        }
    }

    .about-user {
        .title {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 1.5em;
        }

        .gig-user {
            img {
                margin-left: -0.1em;
                // width: 21%;
            }

            .user-details {
                p {
                    margin-top: -0.3em;
                }

                .user-desc {
                    margin-top: -0.4em;
                    margin-left: 0.8em;
                }

                .user-rate {
                    margin-top: 0.7em;
                }
            }
        }

        .btn-contact-me {
            margin-left: -0.1em;
            font-size: 0.8em;
            font-weight: bold;
            border: 1px solid $clrbtn;
            padding-inline: 1.7em;
            padding-block: 0.5em;
            border-radius: 5px;
        }

        .more-details {
            margin-top: 1em;
            border: 1px solid $clrbtn---hover;
            width: 86.5%;

            .line {
                margin: 0;
                width: 93.2%;
                align-self: center;
                margin-left: 1.3em;
                // color: red;
                // background-color: red;
                // padding-left: 1em;
            }

            // .user-stats:not(:last-child){

            // }

            .user-stats {
                margin: 1.4em;
                margin-bottom: 0.5em;
                font-size: 0.9em;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;

                .main {
                    display: flex;
                    flex-flow: column;
                    margin-bottom: 0.5em;

                    span {
                        font-weight: bold;
                        // font-size: 0.9em;
                    }
                }


            }

            .summery {
                line-height: 1.5em;
                font-size: 0.9em;
                margin-left: 1.4em;
                margin-top: 0.7em;
                margin-bottom: 1.5em;
                display: flex;
                flex-flow:column ;
                gap: 1.5em;

            }
        }
    }

    
    .order-reviews-container {

        display: flex;
        flex-flow: column;

        .line {
            width: 86%;
            background-color: $clr-light-grey;
            height: 1px;
            // margin-block: 2.1em;
            margin-top: 2.1em;
            margin-bottom: 2.1em;
        }


        .title {
            font-size: 1.1em;
            font-weight: bold;
            // margin-bottom: 0.5em;
        }


        .by {
            display: flex;



            img {
                object-fit:fill;
                // height: fit-content;
                // margin-top: 0.3em;
                // width: 2.9em;
                // margin-right: 0.7em;
                // margin-left: -0.1em;
            }

            .user-info {

                // align-items: center;
                // align-content: center;
                // margin-top: -0.2em;
                .user-name {
                    font-size: 0.9em;
                    font-weight: bold;
                    text-transform: capitalize;
                }

                .from {
                    display: flex;
                    align-items: center;
                    margin-left: 0.1em;
                    margin-top: 0.1em;

                    // align-content: center;
                    .flag {
                        border-radius: 5px;
                        width: 1.2em;
                        object-fit:fill;
                        // height: fit-content;
                        margin-top: -0.1em;
                        // width: 2.9em;
                        margin-right: 0.7em;
                        margin-left: -0.1em;
                    }

                    span {
                        font-size: 0.9em;
                        margin-left: -0.3em;
                    }
                }
            }
        }

        .rate {
            display: flex;
            margin-left: 3.5em;
            margin-top: 1em;

            // align-items: center;

            i:not(:last-child) {
                margin-right: 0.25em;
            }

            span {
                margin-top: -0.2em;
                font-size: 0.8em;
                font-weight: bold;
            }
        }

        .review-txt {
            margin-left: 4em;
            font-size: 0.9em;
            margin-top: 0.7em;
            margin-bottom: 1em;
            // padding-block: 0.5em;
            width: 80%;
            line-height: 1.5em;
        }

        .helpful {
            margin-left: 5em;
            margin-top: 0.7em;
            font-size: 0.71em;
            font-weight: bold;

            display: flex;

            .title {
                margin-right: 1em;
            }

            .yes {
                display: flex;
                align-items: center;
                margin-right: 0.7em;
                font-size: 1.1em;

                svg {
                    margin-right: 0.5em;
                }
            }

            .no {
                display: flex;
                align-items: center;

                svg {
                    margin-right: 0.5em;
                }

            }
        }
    }
}