.payment-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 37vw;


    .payment-option {
        margin-top: 3.2em;
        display: flex;
        flex-flow: column;
        border: 0.5px solid $clr-light-grey;
        height: fit-content;
        padding-bottom: 2em;


        .title {
            background-color: $clr-light--grey;
            padding: 0.85em;
            font-size: 0.9em;
            font-weight: bolder;
        }

        form {
            display: flex;
            flex-flow: column;

            padding-left: 2.1em;

            .datas {
                display: flex;
                width: 72%;
                justify-content: space-between;

                .inputBox{
                    width: 48%;
                }
            }

            .inputBox {
                display: flex;
                flex-flow: column;
                width: 72%;

                label {
                    margin-top: 0.65em;
                    font-size: 0.9em;
                }

                input {
                    margin-top: 0.6em;
                    padding: 0.5em;
                    // background-color: darkgray;
                    border: 1px solid $clr-light-grey;
                    border-radius: 10px;
                    font-size: 0.9em;
                }
            }
        }

    }

    .order-info {
        border: 0.5px solid $clr-light-grey;
        margin-inline-start: 6.3em;
        margin-inline-end: 4.3em;
        margin-top: 3.2em;


        .info {
            padding-left: 1.4em;
            padding-right: 1.3em;
            display: flex;
            flex-flow: column;
            background-color: $bgc-grey;
            padding-bottom: 0.5em;

            .gig-mini-info {

                display: flex;
                padding-top: 0.8em;
                padding-bottom: 1.1em;
                align-items: center;

                .gig-img {
                    width: 6em;
                    border-radius: 5px;
                }

                .gig-title {
                    font-weight: bolder;
                    font-size: 0.9em;
                    line-height: 1.4em;
                    padding-left: 1.1em;
                }

            }

            .line {
                height: 0.1px;
                width: 100%;
                background-color: $clr-light-grey;
                // background-color: red;
                margin-top: 0.2em;
            }

            .price {
                margin-top: 1em;
                font-size: 0.9em;
                font-weight: bolder;

                display: flex;
                justify-content: space-between;
            }

            .whats-included {
                font-size: 0.9em;

                ul {
                    li {
                        font-family: 'Macan', sans-serif;
                        font-size: 1em;
                        margin-bottom: 0.8em;

                        .include::after {
                            margin-right: 0.5em;
                            content: "\f00c";
                            color: black;
                        }

                        .not-include::after {
                            margin-right: 0.5em;
                            content: "\f00c";
                            color: $clr-light-grey;
                        }
                    }

                }
            }

            .whats-included {
                font-size: 0.8em;
                font-family: 'Macan', sans-serif;
                margin-top: 1em;

                div {
                    margin-bottom: 0.8em;

                    .include::after {
                        content: "\f00c";
                        color: black;
                        margin-right: 0.5em;
                    }

                    .not-include::after {
                        content: "\f00c";
                        color: $clr-light-grey;
                        margin-right: 0.5em;
                    }
                }

            }
        }

        .order {
            padding-left: 1.5em;
            padding-right: 1.3em;
            margin-top: 0.1em;
            display: flex;
            flex-flow: column;
            font-size: 0.9em;
            // background-color: $bgc-grey;

            div {
                padding-top: 0.6em;
                display: flex;
                justify-content: space-between;
            }

            .line12 {
                height: 0.1px;
                width: 100%;
                background-color: $clr-light-grey;
                margin-top: 0.9em;
                margin-bottom: 0.4em;
            }

            .total {
                margin-top: 0.15em;
                font-weight: bold;
            }

            .pay {
                display: flex;
                flex-flow: column;
                margin-bottom: 1em;

                .confirm-btn {
                    background-color: $clr-black;
                    color: $clr-wight;
                    margin-top: 1.2em;
                    font-size: 1em;
                    padding: 0.6em;
                    // padding-inline: 0.5em;
                    border-radius: 5px;
                }

                span {
                    margin-top: 0.2em;
                    font-size: 0.9em;
                    align-self: center;

                }
            }

        }
    }
}