.gig-index {
    display: flex;
    flex-flow: column;

    .gigs-title {
        font-size: 2em;
    }

    .gig-list-main-container {


        .gig-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.2em;

            .gig-preview {
                display: flex;
                flex-flow: column;

                .main-img {
                    height: 190px;

                    img {
                        width: cover;
                        height: 100%;
                        border-radius: 10px;
                    }
                }


                .gig-owner-mini {
                    padding-top: 15px;
                    display: flex;
                    justify-content: space-between;

                    font-size: 0.7em;

                    * {
                        display: inline;
                    }

                    .gig-user {
                        display: flex;
                        gap: 7px;
                        font-size: 1.1em;

                        img {
                            max-width: 25px;
                        }

                        p {
                            span {
                                font-weight: bold;
                            }
                        }
                    }
                }

                .gig-details {
                    font-size: 0.9em;
                    margin-top: 6px;
                    margin-bottom: 5px;
                }

                .gig-user-rate {
                    font-size: 0.9em;
                    display: flex;
                    align-items: center;
                    font-weight: bold;

                    .star {
                        svg{
                            scale: 0.85;
                        }
                    }
                }
            }
        }
    }
}