.gig-index {
    display: flex;
    flex-flow: column;
    margin-top: 3.5em;

    .gigs-title {
        font-size: 2em;
        font-weight: bolder;
        margin-top: 0.2em;
        margin-left: -0.1em;
        text-transform: capitalize;
    }

    .p {
        margin: 0;
        padding: 0;
        line-height: 0;
    }

    .line {
        height: 1px;
        background-color: $clr-light--grey;
        margin-block: 20px;
    }

    .sort {
        margin-block: 25px;
        font-size: 1em;
        color: $clrbtn-hover;
    }

}