.gig-index {
    display: flex;
    flex-flow: column;

    .gigs-title {
        font-size: 2em;
    }

    .gig-list-main-container {


        .gig-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.2em;

            .gig-preview {
                display: flex;
                flex-flow: column;

                .main-img {
                    height: 190px;

                    img {
                        width: cover;
                        height: 100%;
                        border-radius: 10px;
                    }
                }


                .gig-owner-mini {
                    padding-top: 10px;
                    display: flex;
                    justify-content: space-between;

                    font-size: 0.7em;

                    * {
                        display: inline;
                    }

                    .gig-user {
                        display: flex;
                        gap: 7px;
                        font-size: 1.1em;

                        img {
                            max-width: 25px;
                        }

                        p {
                            span {
                                font-weight: bold;
                            }
                        }
                    }

                    .level {
                        align-self: center;
                        display: flex;

                    
                        .level-and-num {
                            font-weight: bold;
                            padding-right: 10px;
                        }


                        i {
                            display: flex;

                            svg {
                                align-self: center;
                            }
                        }

                    }
                }

                .gig-details {
                    font-size: 0.9em;
                    margin-top: 10px;
                    // margin-bottom: 27px;
                    height: 3.25em;

                }

                .gig-user-rate {
                    font-size: 0.9em;
                    display: flex;
                    align-items: center;
                    font-weight: bold;

                    .rate {
                        span {
                            font-weight: 100;
                            color: $clrbtn-hover;
                        }
                    }

                    .star {
                        svg {
                            scale: 0.85;
                        }
                    }
                }

                .gig-price {
                    margin-top: 5px;
                    font-size: 0.9em;
                    font-weight: bold;
                }
            }
        }
    }
}

// ::after{
//     content: ''
//     position: abselut;
//     top: 0
//     }
//     width height