:root{
    --bg-img1: 'https://res.cloudinary.com/dhsdxj3y3/image/upload/v1670768271/gigs/sfl8xkvbl0ztb1yxehjz.webp';
}
.homepage-section{
    // background-image: url('https://res.cloudinary.com/dhsdxj3y3/image/upload/v1670768271/gigs/sfl8xkvbl0ztb1yxehjz.webp');
    // background-image: url(var(--bg-img1));
    background-size: cover;
    background-position: center;
    height: 80dvh;

    .hero-container{
        justify-content: flex-start;
        align-items: center;
        height: 100%;

        .search-form button{
            background-color: $clr-green;
        }
        
        h1{
            color: white;
            line-height: 1.2em;
            font-size: 2.5em;
            letter-spacing: 0.052em;
            font-weight: bold;
            margin-bottom: .35em;


            i{
                font-style: italic;
                font-family: auto;
            }
        }

        .search-container {
            flex-direction: column;
            input{
                height: 2.725em;
                width: max(25em, 32.6em);

                &:focus-visible{
                    border: initial;
                }
            }
            button{
                height: 2.725em;
                width: 4em
            }
        }

        .popular {
            margin-top: 1.1em;
            font-size: .7em;
            ul{
                gap: 1em;

                li{
                    color: white;
                    padding: .15em 1em;
                    border: 1px solid white;
                    border-radius: 9em;
                    line-height: 1.1em;
                    letter-spacing: 0.05em;
                    @include flex-center;
                }
                li:nth-child(1){
                    border: none;
                    font-weight: bold;
                    padding: .5em 0;
                }
            }
        }
    }
}