@media (max-width: 767px) {
    //MARK: MOBILE ONLY
    .app-header.main-container.full{
     background-color: white;
     
     .mobile-only-join {
        color: #62646ac7;
        font-weight: 800;
        font-size: 1em;
        transition: color .3s ease;
        &:hover{
            color: lighten(#62646ac7,20%);
        }
     }
    }

    .under-header{
        display: none;
    }

    .homepage-section .hero-container{

        h1{
            font-size: 1.6em;
            max-width: 90vw;
        }
        .search-container input{
            width: 100%;
        }
        .popular{
            display: none;
        }
    }

    .video-section{
        .video-layout{
            flex-direction: column;
        }

        .side-text{
            padding-inline-end: 0;
        }
    }

    .main-categories ul li{
        width: 50%;
    }

    .join-poster-container{
        padding: 1em;
        margin: 1em;
        background-color: #4f1627;
        width: auto;

        .signup-text .title {
            font-size: 2.3em;
            i{
            color: $clr-light--grey;
            }
    }

        picture{
            display: none;
            
        }
    }

}
