// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;


$clrbg1:#1dbf73;
$clrbg1-light:lighten($clrbg1, 10%);
$clrbg1-dark:darken($clrbg1, 10%);

$clralert:#c14a83;

$clrbtn:#404145;
$clrbtn-hover:#74767e;

$bgc-grey:#f8f5f58a;
$clr-light-grey:#ced0d6;
$clr-light--grey:#f6f6f6;
$clr-black: #121212;
$clr-wight: #f1f1f1;
$clr-green: #1dbf73;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1330px;


